<html>
<head>
    <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
</head>
    <body>

    <header>
        <div class="logo"><img src="logo.png" alt="Makersbnb logo"></div>
            <ul class="menu">
                <li><a href="/spaces" class="active">Spaces</a></li>
                <li><a href="/">Log Out</a></li>
            </ul>
     </header>

     <div class="container">
        <div class="hero">
            <h1>Book a Space</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <a href="/spaces/new">List a Space</a>
        </div>
        
        <% @spaces.each do |space| %>
        <div class="spaces-card">
            <div><img src="house<%=space.id%>.webp"></div>
            <div class="space-description">
                <h4><a href="/spaces/<%=space.id%>"><%= space.name %></a></h4>
                <p>£<%= space.price %></p>
                <p>Availability: <%= space.availability %></p>
            </div>
        </div>    
            <% end %>


    </div>

    </body>
</html>