<html>
    <body>
      <a href="/">Log Out</a>
      <br>
      <a href="/spaces/<%= @booking.space_id %>"><%= @space.name %></a>

      <h1>Booking Confirmation</h1>

      <p>Username: <%= @booking.username %></p>
      <p>Space: <%= @space.name %></p>
      <p>Start Date: <%= @booking.start_date %></p>
      <p>End Date: <%= @booking.end_date %></p>

    </body>

</html
